.down {
    font-size:xx-large; 
    color: red; 
    font-weight:900;
}

.up {
    font-size:xx-large; 
    color: green; 
    font-weight:900;
}

.even {
    font-size:xx-large; 
    color: white; 
    font-weight:900;
}


