.down {
    font-size:xx-large; 
    color: red; 
    font-weight:900;
}

.up {
    font-size:xx-large; 
    color: green; 
    font-weight:900;
}

.even {
    font-size:xx-large; 
    color: white; 
    font-weight:900;
}

.gallery {
    background-image: url(./images/Events/season/season2.jpeg);
    width: 100%;
}

#calendar {
    height: 60vh;
    align-items: center;
    justify-content: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #411f1f;
  }

  .login {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    text-align: center;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.alert{
  color:red;
}

.text-success{
  color: green;
}

.current-day{
  color: #007bff;
}

.event-day{
  color: red;
}

.event-container {
  margin-top: 0px; /* Adjust this value to reduce the gap */
}

#loginButton{
  padding: 8px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

#eventDate{
  Color:rgb(247, 19, 19);
  font-size: large;
}

.event-description a {
  color: rgb(204, 193, 193); /* Set the color of the link to black */
  text-decoration: none; /* Remove underline from the link */
}